In [1]:
import pandas as pd
import numpy as np

In [6]:
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [4]:
apple_csv = pd.read_csv("Hribal_EdwardApple_The Bottom Line.csv",names=(["One","Two","Three","Four","Five","Six","Seven"]))

In [7]:
apple_csv

                            One                  Two       Three  \
Record 1                    NaN                  NaN         NaN
log(Profits)          45.725753               Region    1.000000
Avg. Education        12.032520          Avg. Income   29.254936
Rainfall (inches)     31.000000   Population ('000s)  117.048738
Record 2                    NaN                  NaN         NaN
Region                 2.000000             Avg. Age   38.410150
log(Profits)          44.824679    Unemployment rate    4.950632
Population ('000s)   117.844839  Avg. Household size    3.180670
Record 3                    NaN                  NaN         NaN
log(Profits)          45.805480    Rainfall (inches)   33.000000
Population ('000s)   117.933954    Unemployment rate    4.944946
Avg. Education        12.138053          Avg. Income   29.577462
log(Price)             6.219033  Avg. Household size    3.153420
Record 4                    NaN                  NaN         NaN
Rainfall (inches)     29.000000           log(Price)    4.877819
Unemployment rate      7.995189   Population ('000s)  118.771013
Year                   1.000000       Avg. Education   12.178642
log(Profits)          46.407875  Avg. Household size    3.128809
Record 5                    NaN                  NaN         NaN
Population ('000s)   119.674679           log(Price)    5.131811
log(Profits)          49.744726               Region    5.000000
Avg. Age              38.780823       Avg. Education   12.258853
Unemployment rate      1.995271                 Year    1.000000
Record 6                    NaN                  NaN         NaN
Avg. Income           29.922936   Population ('000s)  120.218217
Unemployment rate      4.958072         log(Profits)   46.993981
Avg. Age              39.017689               Region    6.000000
Record 7                    NaN                  NaN         NaN
Rainfall (inches)     32.000000          Avg. Income   30.016857
Avg. Age              39.313900    Unemployment rate    4.928817
Population ('000s)   121.000863           log(Price)    6.357835
Year                   1.000000       Avg. Education   12.398304
Record 8                    NaN                  NaN         NaN
log(Profits)          47.322719  Avg. Household size    3.077767
Avg. Age              39.409842               Region    8.000000
Year                   1.000000           log(Price)    6.776546
Unemployment rate      5.011056          Avg. Income   30.285557
Record 9                    NaN                  NaN         NaN
Rainfall (inches)     34.000000  Avg. Household size    3.075443
Unemployment rate      4.903213          Avg. Income   30.554310
Region                 9.000000   Population ('000s)  122.919096
Avg. Age              39.619384         log(Profits)   49.473275
Record 10                   NaN                  NaN         NaN
Rainfall (inches)     33.000000    Unemployment rate    4.868743
Avg. Age              39.607487               Region   10.000000
log(Profits)          48.579177       Avg. Education   12.507253
Record 11                   NaN                  NaN         NaN
log(Profits)          47.220499                 Year    1.000000
Avg. Household size    3.063952           log(Price)    7.729677
Avg. Education        12.494936   Population ('000s)  124.709465
Avg. Income           30.766320    Rainfall (inches)   30.000000
Record 12                   NaN                  NaN         NaN
Rainfall (inches)     31.000000          Avg. Income   32.142269
Avg. Age              39.986588               Region   12.000000
Avg. Household size    3.302256    Unemployment rate    5.855562
log(Profits)          49.671874       Avg. Education   12.050386
Record 13                   NaN                  NaN         NaN
Avg. Income           32.278021           log(Price)    5.713626
Avg. Age              40.050535  Avg. Household size    3.290093
Region                13.000000    Unemployment rate    5.955567
Record 14                   NaN                  NaN         NaN
log(Profits)          51.206546    Unemployment rate    5.948158
log(Price)             6.018020    Rainfall (inches)   34.000000
Year                   1.000000   Population ('000s)  134.796458
Record 15                   NaN                  NaN         NaN
Region                15.000000             Avg. Age   40.535272
Rainfall (inches)     32.000000  Avg. Household size    3.258722
Year                   1.000000    Unemployment rate    8.998045
Record 16                   NaN                  NaN         NaN
log(Price)             7.156476             Avg. Age   40.839017
Population ('000s)   137.389134                 Year    1.000000
Region                16.000000       Avg. Education   12.397035
log(Profits)          57.150496    Unemployment rate    2.996685
Record 17                   NaN                  NaN         NaN
Region                17.000000             Avg. Age   41.149722
log(Profits)          53.797447  Avg. Household size    3.231430
Avg. Income           33.006282    Unemployment rate    5.956314
Rainfall (inches)     30.000000                 Year    1.000000
Record 18                   NaN                  NaN         NaN
Region                18.000000  Avg. Household size    3.229461
log(Profits)          55.427710          Avg. Income   33.291636
Avg. Education        12.529473           log(Price)    6.354565
Record 19                   NaN                  NaN         NaN
Avg. Income           33.560748               Region   19.000000
Unemployment rate      6.009458    Rainfall (inches)   33.000000
Avg. Household size    3.213605         log(Profits)   55.163624
Population ('000s)   142.945657                 Year    1.000000
Record 20                   NaN                  NaN         NaN
Rainfall (inches)     31.000000           log(Price)    8.225478
Avg. Income           33.537674                 Year    1.000000
Region                20.000000         log(Profits)   55.681414
Record 21                   NaN                  NaN         NaN
Year                   1.000000       Avg. Education   12.648111
log(Profits)          55.705934             Avg. Age   41.560474
Unemployment rate      5.860176   Population ('000s)  147.387473
Record 22                   NaN                  NaN         NaN
Avg. Age              41.877727         log(Profits)   58.313003
Avg. Education        12.642741          Avg. Income   33.758807
log(Price)             5.722149                 Year    1.000000
Rainfall (inches)     34.000000    Unemployment rate    6.187282
Record 23                   NaN                  NaN         NaN
log(Profits)          72.410053               Region   23.000000
Avg. Household size    3.250708    Unemployment rate    5.858268
Avg. Age              41.203183                 Year    1.000000
Record 24                   NaN                  NaN         NaN
Avg. Age              41.458058       Avg. Education   11.050372
log(Profits)          74.745212    Unemployment rate    5.952359
Avg. Household size    3.228740          Avg. Income   32.428584
Year                   1.000000               Region   24.000000
Record 25                   NaN                  NaN         NaN
Year                   1.000000               Region   25.000000
Rainfall (inches)     34.000000    Unemployment rate    5.952112
Avg. Income           32.559722           log(Price)    6.445246
Avg. Education        11.105667         log(Profits)   75.420452
Record 26                   NaN                  NaN         NaN
log(Profits)          73.778022             Avg. Age   41.783664
Population ('000s)   214.610815  Avg. Household size    3.201505
Avg. Income           32.614694                 Year    1.000000
Region                26.000000    Unemployment rate    8.999835
Record 27                   NaN                  NaN         NaN
Avg. Education        11.181372    Rainfall (inches)   32.000000
Avg. Household size    3.182877   Population ('000s)  214.577272
Region                27.000000                 Year    1.000000
Avg. Age              41.755315          Avg. Income   32.840246
Record 28                   NaN                  NaN         NaN
Avg. Income           32.991308   Population ('000s)  214.417322
log(Price)             7.161899               Region   28.000000
Rainfall (inches)     35.000000       Avg. Education   11.239530
Year                   1.000000         log(Profits)   75.106906
Record 29                   NaN                  NaN         NaN
Avg. Income           33.097058       Avg. Education   11.277379
Rainfall (inches)     34.000000           log(Price)    6.377250
Avg. Household size    3.155163               Region   29.000000
Record 30                   NaN                  NaN         NaN
Avg. Age              41.792230    Rainfall (inches)   32.000000
Avg. Household size    3.148241       Avg. Education   11.355052
Region                30.000000                 Year    1.000000
log(Price)             8.168703   Population ('000s)  219.414282
Record 31                   NaN                  NaN         NaN
Unemployment rate      5.904365           log(Price)    5.619774
Avg. Household size    3.146853               Region   31.000000
Avg. Income           33.261749             Avg. Age   41.876943
Rainfall (inches)     36.000000                 Year    1.000000
Record 32                   NaN                  NaN         NaN
Region                32.000000             Avg. Age   42.118347
Avg. Income           33.437038       Avg. Education   11.445127
Unemployment rate      5.862500  Avg. Household size    3.145867
Record 33                   NaN                  NaN         NaN
log(Profits)          79.640028    Rainfall (inches)   33.000000
Avg. Household size    3.132593                 Year    1.000000
Avg. Income           33.633727       Avg. Education   11.485121
Record 34                   NaN                  NaN         NaN
Year                   1.000000    Rainfall (inches)   32.000000
log(Price)             6.311122    Unemployment rate    3.865110
Region                34.000000   Population ('000s)  146.724639
Record 35                   NaN                  NaN         NaN
Population ('000s)   146.940865          Avg. Income   35.288431
Avg. Age              39.622024         log(Profits)   60.335255
Avg. Education        12.086521           log(Price)    6.275213
Unemployment rate      3.951395  Avg. Household size    3.229129
Record 36                   NaN                  NaN         NaN
Unemployment rate      3.951755    Rainfall (inches)   34.000000
Year                   1.000000           log(Price)    8.982117
Avg. Income           35.307678  Avg. Household size    3.224344
Avg. Age              39.931958               Region   36.000000
Record 37                   NaN                  NaN         NaN
log(Price)             6.840628             Avg. Age   39.985737
log(Profits)          57.936542               Region   37.000000
Avg. Income           35.497388    Unemployment rate    6.999763
Rainfall (inches)     35.000000       Avg. Education   12.168597
Record 38                   NaN                  NaN         NaN
Region                38.000000    Rainfall (inches)   32.000000
Avg. Income           35.816545         log(Profits)   60.445682
Avg. Household size    3.205284           log(Price)    7.643905
Unemployment rate      0.993200       Avg. Education   12.236539
Record 39                   NaN                  NaN         NaN
Unemployment rate      3.964097         log(Profits)   59.441259
Population ('000s)   149.958293                 Year    1.000000
Avg. Age              40.066577  Avg. Household size    3.197313
log(Price)             6.652521          Avg. Income   35.935057
Record 40                   NaN                  NaN         NaN
Population ('000s)   151.230881           log(Price)    7.763009
Region                40.000000         log(Profits)   62.088219
Avg. Household size    3.184100                 Year    1.000000
Avg. Age              40.406597    Rainfall (inches)   36.000000
Record 41                   NaN                  NaN         NaN
log(Profits)          61.603389             Avg. Age   40.729313
Year                   1.000000               Region   41.000000
log(Price)             7.931738    Unemployment rate    4.017237
Record 42                   NaN                  NaN         NaN
Avg. Income           36.415201             Avg. Age   40.817881
Avg. Education        12.385530    Unemployment rate    3.905499
log(Profits)          62.158591   Population ('000s)  155.876555
Record 43                   NaN                  NaN         NaN
Avg. Education        12.447227             Avg. Age   40.937545
Region                43.000000         log(Profits)   63.751062
Avg. Income           36.494335    Rainfall (inches)   33.000000
Record 44                   NaN                  NaN         NaN
Avg. Education        12.544887          Avg. Income   36.555889
Avg. Age              40.925710               Region   44.000000
log(Profits)          63.350506  Avg. Household size    3.139315
Population ('000s)   158.394243    Unemployment rate    4.186186
Record 45                   NaN                  NaN         NaN
Population ('000s)   103.005606       Avg. Education   16.122628
Unemployment rate      3.860043           log(Price)    6.224982
Region                45.000000         log(Profits)   48.719607
Record 46                   NaN                  NaN         NaN
log(Profits)          48.222098    Rainfall (inches)   31.000000
Region                46.000000             Avg. Age   37.369701
Population ('000s)   103.261043                 Year    1.000000
Avg. Household size    3.335925           log(Price)    6.632116
Record 47                   NaN                  NaN         NaN
Region                47.000000  Avg. Household size    3.336290
Avg. Income           32.327567   Population ('000s)  103.881714
Unemployment rate      3.951423       Avg. Education   16.157000
Record 48                   NaN                  NaN         NaN
Population ('000s)   103.682731    Unemployment rate    6.992720
Avg. Education        16.220417  Avg. Household size    3.331165
Rainfall (inches)     33.000000                 Year    1.000000
Region                48.000000             Avg. Age   37.772325
Record 49                   NaN                  NaN         NaN
Avg. Age              37.991561               Region    1.000000
Unemployment rate      0.992818  Avg. Household size    3.303277
log(Price)             6.986180       Avg. Education   16.257790
Rainfall (inches)     31.000000         log(Profits)   47.277940
Record 50                   NaN                  NaN         NaN
Unemployment rate      3.964964               Region    2.000000
log(Profits)          46.456438          Avg. Income   32.804941
Rainfall (inches)     37.000000  Avg. Household size    3.275328
Population ('000s)   106.971004             Avg. Age   38.178197
Record 51                   NaN                  NaN         NaN
Population ('000s)   107.913440          Avg. Income   33.065953
Avg. Education        16.349349             Avg. Age   38.196303
log(Price)             6.737734    Rainfall (inches)   34.000000
Year                   2.000000         log(Profits)   48.487384
Record 52                   NaN                  NaN         NaN
Avg. Age              38.396679               Region    4.000000
log(Price)             4.728464         log(Profits)   50.756212
Unemployment rate      4.013824          Avg. Income   33.069429
Year                   2.000000  Avg. Household size    3.259942
Record 53                   NaN                  NaN         NaN
Unemployment rate      3.898251          Avg. Income   33.299578
Avg. Education        16.444976   Population ('000s)  109.816929
Region                 5.000000         log(Profits)   50.632631
Avg. Household size    3.242238           log(Price)    6.122000
Record 54                   NaN                  NaN         NaN
Region                 6.000000  Avg. Household size    3.234194
log(Profits)          49.231328           log(Price)    6.800148
Population ('000s)   111.206338    Unemployment rate    3.865719
Avg. Education        16.589649                 Year    2.000000
Record 55                   NaN                  NaN         NaN
Region                 7.000000    Rainfall (inches)   31.000000
Avg. Education        16.676397    Unemployment rate    4.187295
Year                   2.000000  Avg. Household size    3.205512
log(Profits)          50.173609             Avg. Age   38.925802
Record 56                   NaN                  NaN         NaN
Rainfall (inches)     34.000000             Avg. Age   37.232556
Unemployment rate      5.857301   Population ('000s)  330.665750
Region                 8.000000  Avg. Household size    3.345031
log(Profits)         115.985467       Avg. Education   14.989063
Record 57                   NaN                  NaN         NaN
Avg. Age              37.330165    Unemployment rate    5.949120
Population ('000s)   333.629245    Rainfall (inches)   33.000000
Region                 9.000000  Avg. Household size    3.322121
Record 58                   NaN                  NaN         NaN
Avg. Age              37.587587    Unemployment rate    5.946222
Rainfall (inches)     31.000000         log(Profits)  117.233482
Avg. Education        15.121284          Avg. Income   36.416229
Population ('000s)   334.576252           log(Price)    6.379776
Record 59                   NaN                  NaN         NaN
Avg. Age              37.651022       Avg. Education   15.253085
Avg. Household size    3.303571    Rainfall (inches)   34.000000
Avg. Income           36.732676    Unemployment rate    8.990358
Region                11.000000           log(Price)    7.647487
Record 60                   NaN                  NaN         NaN
Rainfall (inches)     32.000000       Avg. Education   15.305049
Year                   2.000000         log(Profits)  120.583764
Unemployment rate      2.995230             Avg. Age   37.829724
log(Price)             7.790022  Avg. Household size    3.281072
Record 61                   NaN                  NaN         NaN
Rainfall (inches)     35.000000       Avg. Education   15.363820
log(Price)             6.058275         log(Profits)  120.997053
Unemployment rate      5.962566          Avg. Income   37.051809
Record 62                   NaN                  NaN         NaN
Year                   2.000000   Population ('000s)  348.733605
Unemployment rate      5.931086  Avg. Household size    3.258357
Avg. Age              38.336262               Region   14.000000
Avg. Income           37.106417    Rainfall (inches)   34.000000
Record 63                   NaN                  NaN         NaN
Avg. Income           37.203819             Avg. Age   38.377619
Population ('000s)   354.719606       Avg. Education   15.595745
Region                15.000000                 Year    2.000000
Avg. Household size    3.240983         log(Profits)  124.767648
Record 64                   NaN                  NaN         NaN
Avg. Household size    3.239672             Avg. Age   38.718603
log(Profits)         125.106563    Rainfall (inches)   33.000000
Avg. Education        15.701068   Population ('000s)  355.645713
Record 65                   NaN                  NaN         NaN
Avg. Education        15.743279    Rainfall (inches)   29.000000
Year                   2.000000         log(Profits)  126.326809
Unemployment rate      5.862112               Region   17.000000
Record 66                   NaN                  NaN         NaN
Unemployment rate      6.184206           log(Price)    6.211599
Avg. Education        15.834896         log(Profits)  126.902927
Avg. Household size    3.224729             Avg. Age   39.066301
Region                18.000000    Rainfall (inches)   34.000000

In [40]:
Record = []g
Profits = []g
Region = []g
Unemployment = []
Household = []
Education = []
Income = []g
Age = []g
Price = []g
Rainfall = []
Population = []
Year = []g

for index, row in apple_csv.iterrows():
    if index.startswith("Record"):
        Record.append(index)
    elif index.split()[0] == "Avg.":
        x = index.split()[1]
        exec("%s.append(%f)" % (x,row[0]))
    elif index.split()[0].startswith("log"):
        if index.split()[0].startswith("Profits",4):
            x = index.split()[0][4:11]
            exec("%s.append(%f)" % (x,row[0]))
        elif index.split()[0].startswith("Price",4):
            x = index.split()[0][4:9]
            exec("%s.append(%f)" % (x,row[0]))
    else:
        x = index.split()[0]
        exec("%s.append(%f)" % (x,row[0]))
        
    for i in range(0,7):
        if type(row[i]) == str:
            if row[i].split()[0] == "Avg.":
                x = row[i].split()[1]
                exec("%s.append(%f)" % (x,row[i+1]))
            elif row[i].split()[0].startswith("log"):
                if row[i].split()[0].startswith("Profits",4):
                    x = row[i].split()[0][4:11]
                    exec("%s.append(%f)" % (x,row[i+1]))
                elif row[i].split()[0].startswith("Price",4):
                    x = row[i].split()[0][4:9]
                    exec("%s.append(%f)" % (x,row[i+1]))
            else:
                x =row[i].split()[0]
                exec("%s.append(%f)" % (x,row[i+1]))

In [43]:
apple_df = pd.DataFrame(data={"Year":Year,"Age":Age,"Region":Region,"Price":Price,"Profits":Profits,"Income":Income,"Education":Education,"Household":Household,"Unemployment":Unemployment,"Population":Population,"Rainfall":Rainfall},index=Record)

In [44]:
apple_df

,Year,Age,Region,Price,Profits,Income,Education,Household,Unemployment,Population,Rainfall
Record 1,1.0,38.173864,1.0,6.655673,45.725753,29.254936,12.032520,3.192935,4.863482,117.048738,31.0
Record 2,1.0,38.410150,2.0,7.645359,44.824679,29.392428,12.108484,3.180670,4.950632,117.844839,34.0
Record 3,1.0,38.396622,3.0,6.219033,45.805480,29.577462,12.138053,3.153420,4.944946,117.933954,33.0
Record 4,1.0,38.701731,4.0,4.877819,46.407875,29.724153,12.178642,3.128809,7.995189,118.771013,29.0
Record 5,1.0,38.780823,5.0,5.131811,49.744726,29.945734,12.258853,3.129196,1.995271,119.674679,32.0
Record 6,1.0,39.017689,6.0,7.583215,46.993981,29.922936,12.321580,3.123171,4.958072,120.218217,34.0
Record 7,1.0,39.313900,7.0,6.357835,46.766314,30.016857,12.398304,3.101554,4.928817,121.000863,32.0
Record 8,1.0,39.409842,8.0,6.776546,47.322719,30.285557,12.444036,3.077767,5.011056,121.826587,32.0
Record 9,1.0,39.619384,9.0,6.721007,49.473275,30.554310,12.443618,3.075443,4.903213,122.919096,34.0
Record 10,1.0,39.607487,10.0,6.329474,48.579177,30.579974,12.507253,3.066234,4.868743,123.236910,33.0
Record 11,1.0,39.654554,11.0,7.729677,47.220499,30.766320,12.494936,3.063952,5.181077,124.709465,30.0
Record 12,1.0,39.986588,12.0,8.079853,49.671874,32.142269,12.050386,3.302256,5.855562,132.917429,31.0
Record 13,1.0,40.050535,13.0,5.713626,51.425090,32.278021,12.130926,3.290093,5.955567,133.812644,30.0
Record 14,1.0,40.282764,14.0,6.018020,51.206546,32.344367,12.188977,3.279083,5.948158,134.796458,34.0
Record 15,1.0,40.535272,15.0,5.568865,50.861699,32.463608,12.297389,3.258722,8.998045,136.721633,32.0
Record 16,1.0,40.839017,16.0,7.156476,57.150496,32.728228,12.397035,3.235174,2.996685,137.389134,32.0
Record 17,1.0,41.149722,17.0,6.172045,53.797447,33.006282,12.505965,3.231430,5.956314,139.837823,30.0
Record 18,1.0,41.470442,18.0,6.354565,55.427710,33.291636,12.529473,3.229461,5.924984,141.564311,34.0
Record 19,1.0,41.507453,19.0,6.609537,55.163624,33.560748,12.548353,3.213605,6.009458,142.945657,33.0
Record 20,1.0,41.565923,20.0,8.225478,55.681414,33.537674,12.598103,3.195389,5.898627,144.932199,31.0
Record 21,1.0,41.560474,21.0,6.085028,55.705934,33.765539,12.648111,3.186422,5.860176,147.387473,35.0
Record 22,1.0,41.877727,22.0,5.722149,58.313003,33.758807,12.642741,3.185928,6.187282,147.794808,34.0
Record 23,1.0,41.203183,23.0,7.074331,72.410053,32.150321,11.008733,3.250708,5.858268,208.017520,33.0
Record 24,1.0,41.458058,24.0,7.371688,74.745212,32.428584,11.050372,3.228740,5.952359,211.195640,32.0
Record 25,1.0,41.460404,25.0,6.445246,75.420452,32.559722,11.105667,3.213638,5.952112,214.639287,34.0
Record 26,1.0,41.783664,26.0,6.608331,73.778022,32.614694,11.179704,3.201505,8.999835,214.610815,32.0
Record 27,1.0,41.755315,27.0,7.891104,75.996682,32.840246,11.181372,3.182877,2.996847,214.577272,32.0
Record 28,1.0,41.730113,28.0,7.161899,75.106906,32.991308,11.239530,3.169104,5.958331,214.417322,35.0
Record 29,1.0,41.710150,29.0,6.377250,75.280071,33.097058,11.277379,3.155163,5.926089,216.265299,34.0
Record 30,1.0,41.792230,30.0,8.168703,76.992143,33.211625,11.355052,3.148241,6.014664,219.414282,32.0
Record 31,1.0,41.876943,31.0,5.619774,77.057562,33.261749,11.444771,3.146853,5.904365,221.040764,36.0
Record 32,1.0,42.118347,32.0,6.978361,78.027814,33.437038,11.445127,3.145867,5.862500,224.070883,34.0
Record 33,1.0,42.134706,33.0,7.005818,79.640028,33.633727,11.485121,3.132593,6.190466,227.756195,33.0
Record 34,1.0,39.330886,34.0,6.311122,58.722444,35.169133,12.007071,3.242106,3.865110,146.724639,32.0
Record 35,1.0,39.622024,35.0,6.275213,60.335255,35.288431,12.086521,3.229129,3.951395,146.940865,35.0
Record 36,1.0,39.931958,36.0,8.982117,57.387133,35.307678,12.155000,3.224344,3.951755,148.396852,34.0
Record 37,1.0,39.985737,37.0,6.840628,57.936542,35.497388,12.168597,3.220224,6.999763,148.635477,35.0
Record 38,1.0,40.059249,38.0,7.643905,60.445682,35.816545,12.236539,3.205284,0.993200,149.299891,32.0
Record 39,1.0,40.066577,39.0,6.652521,59.441259,35.935057,12.290175,3.197313,3.964097,149.958293,34.0
Record 40,1.0,40.406597,40.0,7.763009,62.088219,36.173949,12.282181,3.184100,3.932693,151.230881,36.0
Record 41,1.0,40.729313,41.0,7.931738,61.603389,36.178054,12.366664,3.164250,4.017237,153.612054,31.0
Record 42,1.0,40.817881,42.0,5.781159,62.158591,36.415201,12.385530,3.163981,3.905499,155.876555,35.0
Record 43,1.0,40.937545,43.0,5.897920,63.751062,36.494335,12.447227,3.162180,3.866337,156.791304,33.0
Record 44,1.0,40.925710,44.0,6.618288,63.350506,36.555889,12.544887,3.139315,4.186186,158.394243,29.0
Record 45,1.0,37.150403,45.0,6.224982,48.719607,31.998704,16.122628,3.363669,3.860043,103.005606,32.0
Record 46,1.0,37.369701,46.0,6.632116,48.222098,32.089370,16.159737,3.335925,3.947739,103.261043,31.0
Record 47,1.0,37.635015,47.0,6.255994,45.627259,32.327567,16.157000,3.336290,3.951423,103.881714,33.0
Record 48,1.0,37.772325,48.0,5.871009,45.848039,32.318643,16.220417,3.331165,6.992720,103.682731,33.0
Record 49,2.0,37.991561,1.0,6.986180,47.277940,32.558086,16.257790,3.303277,0.992818,105.420260,31.0
Record 50,2.0,38.178197,2.0,7.650296,46.456438,32.804941,16.242321,3.275328,3.964964,106.971004,37.0
Record 51,2.0,38.196303,3.0,6.737734,48.487384,33.065953,16.349349,3.275953,3.925288,107.913440,34.0
Record 52,2.0,38.396679,4.0,4.728464,50.756212,33.069429,16.370123,3.259942,4.013824,108.049895,33.0
Record 53,2.0,38.603107,5.0,6.122000,50.632631,33.299578,16.444976,3.242238,3.898251,109.816929,33.0
Record 54,2.0,38.840529,6.0,6.800148,49.231328,33.304666,16.589649,3.234194,3.865719,111.206338,34.0
Record 55,2.0,38.925802,7.0,6.728484,50.173609,33.600888,16.676397,3.205512,4.187295,112.570922,31.0
Record 56,2.0,37.232556,8.0,6.679473,115.985467,36.216242,14.989063,3.345031,5.857301,330.665750,34.0
Record 57,2.0,37.330165,9.0,7.022408,118.364687,36.408156,15.106196,3.322121,5.949120,333.629245,33.0
Record 58,2.0,37.587587,10.0,6.379776,117.233482,36.416229,15.121284,3.322951,5.946222,334.576252,31.0
Record 59,2.0,37.651022,11.0,7.647487,117.578832,36.732676,15.253085,3.303571,8.990358,339.752403,34.0
Record 60,2.0,37.829724,12.0,7.790022,120.583764,37.047685,15.305049,3.281072,2.995230,344.575358,32.0
Record 61,2.0,38.169492,13.0,6.058275,120.997053,37.051809,15.363820,3.255104,5.962566,347.596947,35.0
Record 62,2.0,38.336262,14.0,5.733755,122.977147,37.106417,15.473254,3.258357,5.931086,348.733605,34.0
Record 63,2.0,38.377619,15.0,5.267345,124.767648,37.203819,15.595745,3.240983,6.009596,354.719606,30.0
Record 64,2.0,38.718603,16.0,7.455754,125.106563,37.410125,15.701068,3.239672,5.902914,355.645713,33.0
Record 65,2.0,39.061659,17.0,7.157513,126.326809,37.429124,15.743279,3.235363,5.862112,359.980750,29.0
Record 66,2.0,39.066301,18.0,6.211599,126.902927,37.446926,15.834896,3.224729,6.184206,359.511198,34.0
Record 67,2.0,35.280171,19.0,7.099550,71.168842,29.986216,11.988500,3.198861,7.856396,203.102661,32.0
Record 68,2.0,35.523199,20.0,7.718868,72.247140,30.083795,12.035492,3.200306,7.947218,206.623288,32.0
Record 69,2.0,35.682414,21.0,6.984123,71.996897,30.221990,12.135241,3.172155,7.946893,207.249493,32.0
Record 70,2.0,35.863781,22.0,5.617431,71.108968,30.405076,12.182943,3.144156,10.997253,207.802421,33.0
Record 71,2.0,36.093716,23.0,6.675695,74.446613,30.584736,12.233050,3.129668,4.990809,209.698483,34.0
Record 72,2.0,36.173295,24.0,7.060578,73.842866,30.576150,12.287843,3.105898,7.957317,211.702183,34.0
Record 73,2.0,36.483671,25.0,6.445076,75.638465,30.695378,12.345964,3.101207,7.926207,214.929928,31.0
Record 74,2.0,36.583741,26.0,6.520292,76.321398,30.959637,12.377839,3.076524,8.017121,214.739980,35.0
Record 75,2.0,36.703302,27.0,7.995650,75.435908,31.064393,12.383298,3.074241,7.901981,218.478659,31.0
Record 76,2.0,36.976481,28.0,7.199243,77.082615,31.040383,12.411895,3.075618,7.867012,220.160673,34.0
Record 77,2.0,36.973246,29.0,6.573105,76.590388,31.279734,12.426393,3.052786,8.189794,222.168841,31.0
Record 78,2.0,36.048656,30.0,7.776323,64.110577,33.981786,13.049513,3.234121,5.862300,166.492266,32.0
Record 79,2.0,36.131708,31.0,5.588828,63.729861,33.984689,13.123633,3.211988,5.947886,167.935648,33.0
Record 80,2.0,36.335319,32.0,6.530144,67.260590,34.189041,13.144504,3.202694,5.947797,168.138695,32.0
Record 81,2.0,36.436961,33.0,6.549986,62.635101,34.309370,13.258764,3.201068,8.996680,170.933374,34.0
Record 82,2.0,36.745443,34.0,7.114515,68.527733,34.506789,13.280970,3.179332,2.995453,172.298957,31.0
Record 83,2.0,36.844030,35.0,6.942906,68.290628,34.714784,13.278159,3.167485,5.963158,173.761818,34.0
Record 84,2.0,36.978123,36.0,8.807065,64.279486,34.952705,13.287691,3.152203,5.934513,174.277487,33.0
Record 85,2.0,37.269879,37.0,7.147805,68.283263,35.233976,13.306681,3.124295,6.017739,175.117386,33.0
Record 86,2.0,37.408528,38.0,8.258559,67.814183,35.434194,13.401613,3.103343,5.905790,178.250622,33.0
Record 87,2.0,37.381254,39.0,6.532772,68.973753,35.642242,13.499009,3.101637,5.865267,178.958379,31.0
Record 88,2.0,37.582154,40.0,6.780649,70.279277,35.716753,13.496407,3.089823,6.190527,180.109578,32.0
Record 89,2.0,38.125169,41.0,8.200679,43.391899,30.186298,10.998889,3.256955,5.857111,114.910653,30.0
Record 90,2.0,38.332593,42.0,6.098790,46.088990,30.421903,11.081257,3.254520,5.954819,114.829426,33.0
Record 91,2.0,38.446056,43.0,6.164630,45.195481,30.672948,11.099092,3.231265,5.943986,115.320834,30.0
Record 92,2.0,38.774043,44.0,7.556352,43.945205,30.939386,11.193904,3.233421,8.992467,117.158725,31.0
Record 93,2.0,38.768291,45.0,5.960098,47.159822,31.122748,11.200118,3.232136,2.991833,118.693333,36.0
Record 94,2.0,38.747124,46.0,7.323945,48.775128,31.378461,11.242341,3.220443,5.957140,119.694259,31.0
Record 95,2.0,38.979074,47.0,5.820981,47.055236,31.615550,11.306819,3.217991,5.933721,120.242092,34.0
Record 96,2.0,39.242732,48.0,5.879436,46.358377,31.737438,11.373201,3.204137,6.017037,120.353674,34.0
Record 97,3.0,39.334191,1.0,6.971124,44.307552,31.971742,11.372444,3.196629,5.901680,120.404052,31.0
Record 98,3.0,39.365365,2.0,7.933752,45.819303,32.229501,11.412501,3.179938,5.864059,121.258686,33.0
Record 99,3.0,39.448357,3.0,6.618337,46.045858,32.341622,11.429344,3.152664,6.181096,122.604432,30.0
Record 100,3.0,36.105967,4.0,4.653280,57.424340,34.303742,13.057684,3.337010,5.861939,136.596321,30.0
Record 101,3.0,36.167246,5.0,5.960821,58.818581,34.322804,13.077894,3.328229,5.952462,138.815435,32.0
Record 102,3.0,36.134499,6.0,6.871236,57.450163,34.591322,13.168038,3.322178,5.950628,140.099708,33.0
Record 103,3.0,36.238958,7.0,6.274304,57.628567,34.758667,13.284683,3.310892,8.994300,141.356796,36.0
Record 104,3.0,36.495083,8.0,6.988939,59.603804,34.824924,13.297933,3.302756,2.992060,142.307759,34.0
Record 105,3.0,36.694563,9.0,6.629251,61.316448,35.051518,13.347716,3.301322,5.961405,144.668591,32.0
Record 106,3.0,36.770554,10.0,6.781077,60.122537,35.345497,13.377025,3.294715,5.934328,146.688796,33.0
Record 107,3.0,37.044943,11.0,7.955032,59.019491,35.439897,13.433945,3.270553,6.017131,148.120549,34.0
Record 108,3.0,37.119201,12.0,6.770740,59.374468,35.411165,13.520587,3.260944,5.899782,150.632425,32.0
Record 109,3.0,37.317519,13.0,6.072785,60.365208,35.551792,13.554073,3.249841,5.865735,151.655132,32.0
Record 110,3.0,37.281459,14.0,6.332132,61.851617,35.662207,13.632397,3.232708,6.185586,151.563308,33.0
Record 111,3.0,37.216563,15.0,5.429768,62.487687,29.077626,12.072984,3.196044,4.861332,176.608071,33.0
Record 112,3.0,37.226806,16.0,7.474580,65.049264,29.245770,12.142305,3.185930,4.954642,178.496872,33.0
Record 113,3.0,37.306466,17.0,6.424678,66.543420,29.318606,12.168906,3.175856,4.946899,180.772990,32.0
Record 114,3.0,37.568188,18.0,6.082267,65.767034,29.337409,12.190385,3.156685,7.991860,183.856713,33.0
Record 115,3.0,37.853112,19.0,7.191766,67.237875,29.597945,12.255684,3.146837,1.997390,184.052044,35.0
Record 116,3.0,38.139325,20.0,7.960929,66.279790,29.571545,12.330641,3.144976,4.963044,183.887469,32.0
Record 117,3.0,38.372373,21.0,6.080543,66.419630,29.581426,12.359628,3.145336,4.926421,185.754003,33.0
Record 118,3.0,38.349531,22.0,5.595787,68.470524,29.582712,12.409490,3.143333,5.009991,185.393654,31.0
Record 119,3.0,38.540874,23.0,6.993655,67.522801,29.716826,12.513304,3.115135,4.898372,186.421612,31.0
Record 120,3.0,38.652946,24.0,7.291043,66.791371,29.894897,12.591911,3.097527,4.864418,186.704367,33.0
Record 121,3.0,38.891028,25.0,6.660115,67.429881,30.109340,12.652554,3.096633,5.181756,187.121548,32.0
Record 122,3.0,42.019731,26.0,7.149731,63.444337,32.122257,12.017318,3.196419,6.855352,170.753225,33.0
Record 123,3.0,42.313433,27.0,8.255564,60.309117,32.095708,12.081714,3.188885,6.956257,170.503903,33.0
Record 124,3.0,42.626951,28.0,7.360486,63.031870,32.326680,12.180233,3.184824,6.942651,173.300567,37.0
Record 125,3.0,42.886533,29.0,7.187320,59.922041,32.547981,12.238338,3.182346,9.998704,175.078624,34.0
Record 126,3.0,43.162437,30.0,7.209739,67.157140,32.752676,12.247664,3.154549,3.995061,176.443493,33.0
Record 127,3.0,43.371179,31.0,5.768984,65.920846,32.887334,12.244198,3.154988,6.964132,178.502377,33.0
Record 128,3.0,43.448555,32.0,6.831790,63.913394,33.122621,12.349073,3.156827,6.926969,178.155334,30.0
Record 129,3.0,43.591146,33.0,6.401928,63.942717,33.099622,12.401899,3.138433,7.017103,178.648448,33.0
Record 130,3.0,43.906669,34.0,6.957802,65.291365,33.080291,12.477910,3.123865,6.901991,179.211633,30.0
Record 131,3.0,44.244052,35.0,6.374896,65.699123,33.113954,12.502449,3.118791,6.861577,180.334665,32.0
Record 132,3.0,44.229974,36.0,8.835995,64.260482,33.119809,12.577954,3.106904,7.188974,181.289170,33.0
Record 133,3.0,37.172780,37.0,6.842072,51.540272,34.295241,13.026280,3.331285,5.862972,119.423515,33.0
Record 134,3.0,37.370062,38.0,8.425119,48.680539,34.292173,13.100020,3.308632,5.954927,120.563901,32.0
Record 135,3.0,37.409119,39.0,6.394030,50.854235,34.560484,13.182745,3.308939,5.944665,122.243183,33.0
Record 136,3.0,37.595042,40.0,7.462689,51.427715,34.703761,13.228468,3.297864,8.993152,124.298515,33.0
Record 137,3.0,37.700455,41.0,7.994731,54.523776,34.694927,13.223021,3.298669,2.998468,125.426988,33.0
Record 138,3.0,37.880377,42.0,5.788996,51.271476,34.791876,13.228908,3.271376,5.962874,125.360525,32.0
Record 139,3.0,38.125965,43.0,5.737778,52.096026,34.859757,13.270236,3.253337,5.928295,125.556885,32.0
Record 140,3.0,38.097384,44.0,7.138731,53.939397,35.079704,13.292026,3.243502,6.013974,127.736942,34.0
Record 141,3.0,38.095008,45.0,6.411845,52.949453,35.327490,13.390488,3.219906,5.898950,129.670230,31.0
Record 142,3.0,38.259151,46.0,7.579054,56.670635,35.498418,13.417912,3.209487,5.859889,129.938559,32.0
Record 143,3.0,38.261424,47.0,6.305750,54.723821,35.728483,13.411672,3.207548,6.189974,130.539791,35.0
Record 144,3.0,37.156223,48.0,6.106270,56.885743,30.994476,13.102623,3.289111,4.860809,153.185351,31.0
Record 145,4.0,37.401712,1.0,7.181937,57.962380,31.035484,13.146098,3.283637,4.953292,154.083057,32.0
Record 146,4.0,37.494084,2.0,8.335250,57.818091,31.049327,13.143434,3.284485,4.950530,154.168639,31.0
Record 147,4.0,37.780666,3.0,6.427507,58.079441,31.021512,13.159927,3.272693,7.996171,155.396928,34.0
Record 148,4.0,38.047257,4.0,4.666804,62.792034,31.064849,13.262500,3.256208,1.991201,155.882568,33.0
Record 149,4.0,38.379737,5.0,6.063657,59.874067,31.052583,13.304357,3.231169,4.961996,155.703365,32.0
Record 150,4.0,38.624958,6.0,7.080253,60.132957,31.313911,13.421243,3.221265,4.933006,158.280935,32.0
Record 151,4.0,38.826529,7.0,6.524046,60.731255,31.393407,13.510274,3.209820,5.010070,160.335986,35.0
Record 152,4.0,39.118987,8.0,6.901009,61.103041,31.428565,13.502130,3.196476,4.903747,162.816657,36.0
Record 153,4.0,39.148100,9.0,5.914471,64.433746,31.481960,13.599107,3.187883,4.867603,165.502627,30.0
Record 154,4.0,39.403156,10.0,6.429804,61.847666,31.539179,13.708893,3.170107,5.181904,167.900667,35.0
Record 155,4.0,35.966147,11.0,8.036129,59.991152,26.211726,13.048942,3.381480,5.860155,172.946760,33.0
Record 156,4.0,36.207834,12.0,7.239687,60.553009,26.372470,13.152727,3.371955,5.950353,173.605621,33.0
Record 157,4.0,36.327912,13.0,6.101694,59.677389,26.368070,13.184513,3.375039,5.946731,173.659696,32.0
Record 158,4.0,36.374495,14.0,5.988999,61.123693,26.591567,13.241210,3.355731,8.990359,174.735938,35.0
Record 159,4.0,36.679133,15.0,5.556244,64.918227,26.641086,13.311503,3.339098,2.993583,177.005210,32.0
Record 160,4.0,36.808639,16.0,7.379841,62.540538,26.621365,13.338697,3.336919,5.964134,178.042127,34.0
Record 161,4.0,36.923383,17.0,6.273808,62.463753,26.624494,13.327497,3.312729,5.932085,177.841054,31.0
Record 162,4.0,37.216368,18.0,6.262631,63.589969,26.726813,13.338911,3.286881,6.010007,178.103363,34.0
Record 163,4.0,37.327479,19.0,6.966398,61.779282,26.872760,13.370470,3.284096,5.904681,179.217342,31.0
Record 164,4.0,37.434445,20.0,8.060860,62.995842,27.027398,13.435279,3.283253,5.862909,179.767257,31.0
Record 165,4.0,37.608997,21.0,6.424403,63.835132,27.215400,13.452153,3.263673,6.183549,180.341325,30.0
Record 166,4.0,40.244735,22.0,5.619516,52.884652,33.209239,11.095480,3.194818,5.855963,133.562672,34.0
Record 167,4.0,40.212334,23.0,7.121944,51.894978,33.345608,11.116914,3.197269,5.954570,134.590759,30.0
Record 168,4.0,40.224526,24.0,7.297156,50.800910,33.560584,11.207979,3.189714,5.943636,136.459535,31.0
Record 169,4.0,40.491620,25.0,6.526563,51.811029,33.746853,11.201137,3.188180,8.997522,137.047120,32.0
Record 170,4.0,40.579898,26.0,6.502565,56.701023,33.859114,11.196027,3.170565,2.992247,139.171533,32.0
Record 171,4.0,40.673586,27.0,8.355072,52.987155,33.937364,11.215462,3.153689,5.960790,141.624382,33.0
Record 172,4.0,40.791198,28.0,7.214026,54.550286,34.105313,11.216290,3.150670,5.931840,143.780005,33.0
Record 173,4.0,40.873229,29.0,7.070376,54.227979,34.194613,11.227448,3.135477,6.016074,144.075088,31.0
Record 174,4.0,40.999874,30.0,8.259202,56.301008,34.496128,11.286475,3.108033,5.905939,145.751987,32.0
Record 175,4.0,41.328007,31.0,6.205977,57.448728,34.744926,11.293152,3.093671,5.866324,146.878350,31.0
Record 176,4.0,41.289141,32.0,7.088585,57.624582,34.927869,11.353202,3.089838,6.183105,148.009736,34.0
Record 177,4.0,38.056572,33.0,6.571539,46.002725,31.210871,12.042149,3.312432,7.863442,118.921996,33.0
Record 178,4.0,38.071252,34.0,7.030597,45.028350,31.318994,12.053480,3.314688,7.948809,119.298979,30.0
Record 179,4.0,38.282286,35.0,6.235271,48.537532,31.297953,12.147171,3.287870,7.944725,119.749531,32.0
Record 180,4.0,38.406088,36.0,8.511493,43.377497,31.309602,12.238228,3.264270,10.995342,120.968257,31.0
Record 181,4.0,38.626250,37.0,6.893015,49.615927,31.520417,12.277296,3.237479,4.990295,122.900516,32.0
Record 182,4.0,38.810326,38.0,8.271927,45.436612,31.556408,12.309916,3.223515,7.962497,125.094815,30.0
Record 183,4.0,39.153225,39.0,6.606443,48.781638,31.536308,12.400223,3.216172,7.932083,124.921171,32.0
Record 184,4.0,39.470448,40.0,6.936427,49.108705,31.696399,12.455081,3.197226,8.009714,126.841519,30.0
Record 185,4.0,39.690053,41.0,8.137731,48.190070,31.742659,12.500550,3.196378,7.906247,126.790204,33.0
Record 186,4.0,39.654093,42.0,6.020573,47.431175,31.728525,12.517655,3.193200,7.867697,127.343757,30.0
Record 187,4.0,39.780873,43.0,6.294114,48.275686,31.978202,12.534361,3.177341,8.186608,128.599322,34.0
Record 188,4.0,39.071183,44.0,7.198309,45.205065,30.996991,11.998245,3.379692,5.860288,115.245775,34.0
Record 189,4.0,39.214222,45.0,6.156304,44.082275,31.163757,12.017531,3.368615,5.951258,116.118182,32.0
Record 190,4.0,39.251050,46.0,7.499872,48.721893,31.226911,12.065655,3.354320,5.948101,116.441458,33.0
Record 191,4.0,39.227767,47.0,6.413900,44.006994,31.349945,12.130184,3.356745,8.991370,117.270097,35.0
Record 192,4.0,39.336039,48.0,5.795470,48.073787,31.601550,12.138669,3.326935,2.992105,117.395710,30.0
Record 193,5.0,39.310428,1.0,7.348028,47.192523,31.633006,12.159827,3.325288,5.964242,117.800876,30.0
Record 194,5.0,39.273470,2.0,7.778154,46.908061,31.741536,12.255873,3.326851,5.933065,117.821784,34.0

In [45]:
#index_unique = apple_csv.index.unique()

In [46]:
#index_unique.tolist()

In [47]:
# test_list = []
# x = "test_list"
# exec("%s.append(%f)" % (x,5.6))
# test_list