In [1]:
import sqlite3

In [65]:
import numpy as np
import pandas as pd

In [2]:
dbpath = 'mydb.sqlite'
conn = sqlite3.connect(dbpath)
cur = conn.cursor()

In [44]:
cur.executescript('DROP TABLE IF EXISTS word_counts;')

In [14]:
cur.executescript("""
CREATE TABLE stories(
    story_id INTEGER PRIMARY KEY UNIQUE,
    words TEXT
    );
""")

In [45]:
cur.executescript("""
CREATE TABLE word_counts(
    word_count_id INTEGER PRIMARY KEY UNIQUE,
    word TEXT,
    count INTEGER,
    story_id INTEGER,
    FOREIGN KEY (story_id)
        REFERENCES stories (story_id)
            ON DELETE CASCADE
            ON UPDATE NO ACTION
    );
""")

In [17]:
story_file = open("story-4.txt",encoding='utf-8')
word_counter = {}
counter = 0

for line in story_file:
    line_list = line.split()
    for word in line_list:
        real_word = word.lower()
        new_word = ''.join(char for char in real_word if char.isalnum())
        if new_word not in word_counter.keys():
            word_counter[new_word] = 1
        else:
            add_value = word_counter.get(new_word)
            add_value += 1
            word_counter[new_word] = add_value
print(word_counter)

    
story_file.close()

{'the': 27, 'foolish': 1, 'lion': 13, 'and': 8, 'clever': 1, 'rabbit': 6, 'once': 1, 'upon': 1, 'a': 4, 'time': 1, 'there': 1, 'lived': 1, 'greedy': 1, 'who': 1, 'attacked': 2, 'killed': 1, 'animals': 2, 'because': 1, 'of': 4, 'which': 1, 'every': 1, 'animal': 2, 'in': 2, 'jungle': 1, 'was': 4, 'very': 1, 'afraid': 1, 'him': 4, 'one': 4, 'day': 2, 'they': 2, 'decided': 2, 'that': 2, 'each': 1, 'would': 1, 'go': 1, 'to': 9, 'per': 1, 'as': 2, 'his': 4, 'prey': 1, 'agreed': 1, 'when': 1, 'it': 1, 'rabbits': 2, 'turn': 1, 'send': 1, 'wise': 3, 'old': 2, 'he': 2, 'travelled': 1, 'slowly': 1, 'reached': 1, 'lions': 1, 'den': 1, 'before': 1, 'sunset': 1, 'furiously': 1, 'asked': 2, 'why': 1, 'are': 1, 'you': 2, 'so': 1, 'late': 1, 'answered': 1, 'group': 1, 'were': 2, 'coming': 1, 'but': 1, 'on': 2, 'their': 1, 'way': 1, 'others': 1, 'by': 1, 'another': 1, 'ferocious': 1, 'i': 1, 'managed': 1, 'escape': 1, 'came': 1, 'here': 1, 'also': 1, 'mentioned': 1, 'other': 2, 'challenging': 1, 'this': 2, 'extremely': 1, 'angry': 1, 'take': 1, 'meet': 1, 'new': 1, 'took': 1, 'deep': 1, 'well': 2, 'showed': 1, 'own': 1, 'reflection': 3, 'growled': 1, 'did': 1, 'same': 1, 'considered': 1, 'be': 1, 'enemy': 1, 'enraged': 1, 'jumped': 1, 'into': 1, 'attack': 1, 'ended': 1, 'up': 1, 'dying': 1, 'thus': 1, 'saved': 1, 'himself': 1, 'all': 1, 'forest': 1, 'moral': 1, 'story': 1, 'must': 1, 'always': 1, 'focus': 1, 'solutions': 1, 'rather': 1, 'than': 1, 'problems': 1}

In [35]:
# story_file_test = open("story-1.txt",encoding='utf-8')
# story_file_test.read()
# for line in story_file_test:
#     print(line)
# story_file_test.close()
word_counter["the"]

27

In [31]:
story_list = ["story-1.txt","story-2.txt","story-3.txt","story-4.txt"]
story_count = 1
for story in story_list:
    story_file_loop = open(story,encoding='utf-8')
    story_text = story_file_loop.read()
    cur.execute("""INSERT INTO stories(story_id,words) VALUES (?,?);""",(story_count,story_text))
    conn.commit()
    story_count += 1
    story_file_loop.close()

In [58]:
cur.execute("""SELECT * FROM word_counts""")
stori = cur.fetchall()
for sto in stori:
    print(sto)

(100, 'the', 34, 1)
(101, 'monkey', 13, 1)
(102, 'and', 8, 1)
(103, 'crocodile', 9, 1)
(104, 'once', 1, 1)
(105, 'upon', 1, 1)
(106, 'a', 6, 1)
(107, 'time', 2, 1)
(108, 'in', 2, 1)
(109, 'forest', 2, 1)
(110, 'there', 2, 1)
(111, 'lived', 2, 1)
(112, 'who', 1, 1)
(113, 'resided', 1, 1)
(114, 'on', 4, 1)
(115, 'jamoon', 1, 1)
(116, 'berry', 1, 1)
(117, 'tree', 4, 1)
(118, 'which', 1, 1)
(119, 'was', 5, 1)
(120, 'banks', 2, 1)
(121, 'of', 3, 1)
(122, 'river', 2, 1)
(123, 'same', 1, 1)
(124, 'his', 6, 1)
(125, 'wife', 3, 1)
(126, 'one', 2, 1)
(127, 'day', 3, 1)
(128, 'came', 2, 1)
(129, 'to', 5, 1)
(130, 'rested', 1, 1)
(131, 'under', 1, 1)
(132, 'kindhearted', 1, 1)
(133, 'offered', 1, 1)
(134, 'him', 5, 1)
(135, 'some', 2, 1)
(136, 'fruits', 5, 1)
(137, 'back', 4, 1)
(138, 'next', 1, 1)
(139, 'for', 4, 1)
(140, 'more', 1, 1)
(141, 'as', 3, 1)
(142, 'he', 4, 1)
(143, 'loved', 1, 1)
(144, 'them', 2, 1)
(145, 'days', 1, 1)
(146, 'passed', 1, 1)
(147, 'by', 1, 1)
(148, 'became', 1, 1)
(149, 'good', 1, 1)
(150, 'friends', 1, 1)
(151, 'sent', 1, 1)
(152, 'crocodiles', 1, 1)
(153, 'she', 3, 1)
(154, 'ate', 1, 1)
(155, 'liked', 1, 1)
(156, 'but', 3, 1)
(157, 'jealous', 1, 1)
(158, 'didnt', 1, 1)
(159, 'like', 2, 1)
(160, 'her', 2, 1)
(161, 'husband', 2, 1)
(162, 'spending', 1, 1)
(163, 'with', 1, 1)
(164, 'told', 2, 1)
(165, 'if', 1, 1)
(166, 'are', 1, 1)
(167, 'so', 2, 1)
(168, 'juicy', 1, 1)
(169, 'i', 2, 1)
(170, 'wonder', 1, 1)
(171, 'how', 1, 1)
(172, 'sweet', 1, 1)
(173, 'monkeys', 1, 1)
(174, 'heart', 3, 1)
(175, 'would', 2, 1)
(176, 'be', 1, 1)
(177, 'get', 2, 1)
(178, 'me', 2, 1)
(179, 'not', 1, 1)
(180, 'willing', 1, 1)
(181, 'kill', 1, 1)
(182, 'friend', 1, 1)
(183, 'had', 2, 1)
(184, 'no', 1, 1)
(185, 'choice', 1, 1)
(186, 'invited', 1, 1)
(187, 'house', 1, 1)
(188, 'dinner', 1, 1)
(189, 'that', 2, 1)
(190, 'meet', 1, 1)
(191, 'happy', 2, 1)
(192, 'couldnt', 1, 1)
(193, 'swim', 1, 1)
(194, 'took', 2, 1)
(195, 'tricked', 1, 1)
(196, 'however', 1, 1)
(197, 'while', 1, 1)
(198, 'talking', 1, 1)
(199, 'blurted', 1, 1)
(200, 'out', 1, 1)
(201, 'real', 1, 1)
(202, 'reason', 1, 1)
(203, 'taking', 1, 1)
(204, 'home', 1, 1)
(205, 'clever', 2, 1)
(206, 'said', 1, 1)
(207, 'you', 1, 1)
(208, 'should', 1, 1)
(209, 'have', 1, 1)
(210, 'earlier', 1, 1)
(211, 'left', 1, 1)
(212, 'my', 1, 1)
(213, 'we', 1, 1)
(214, 'must', 1, 1)
(215, 'go', 1, 1)
(216, 'it', 1, 1)
(217, 'believed', 1, 1)
(218, 'thus', 1, 1)
(219, 'saved', 1, 1)
(220, 'life', 1, 1)
(221, 'the', 23, 2)
(222, 'musical', 1, 2)
(223, 'donkey', 9, 2)
(224, 'a', 7, 2)
(225, 'washer', 1, 2)
(226, 'mans', 1, 2)
(227, 'would', 4, 2)
(228, 'be', 1, 2)
(229, 'free', 1, 2)
(230, 'to', 8, 2)
(231, 'graze', 1, 2)
(232, 'on', 7, 2)
(233, 'green', 1, 2)
(234, 'field', 2, 2)
(235, 'after', 1, 2)
(236, 'hard', 1, 2)
(237, 'days', 1, 2)
(238, 'work', 1, 2)
(239, 'instead', 1, 2)
(240, 'of', 2, 2)
(241, 'staying', 1, 2)
(242, 'he', 4, 2)
(243, 'sneak', 1, 2)
(244, 'into', 1, 2)
(245, 'villagers', 1, 2)
(246, 'farms', 1, 2)
(247, 'and', 13, 2)
(248, 'eat', 2, 2)
(249, 'vegetables', 3, 2)
(250, 'growing', 1, 2)
(251, 'before', 1, 2)
(252, 'sneaking', 1, 2)
(253, 'back', 1, 2)
(254, 'home', 2, 2)
(255, 'met', 1, 2)
(256, 'jackal', 6, 2)
(257, 'they', 3, 2)
(258, 'became', 1, 2)
(259, 'good', 1, 2)
(260, 'friends', 1, 2)
(261, 'decided', 1, 2)
(262, 'hunt', 1, 2)
(263, 'together', 1, 2)
(264, 'fat', 1, 2)
(265, 'break', 1, 2)
(266, 'fence', 1, 2)
(267, 'while', 1, 2)
(268, 'hunted', 1, 2)
(269, 'farm', 1, 2)
(270, 'animals', 1, 2)
(271, 'one', 1, 2)
(272, 'night', 1, 2)
(273, 'told', 1, 2)
(274, 'that', 2, 2)
(275, 'felt', 1, 2)
(276, 'like', 1, 2)
(277, 'singing', 3, 2)
(278, 'pleaded', 1, 2)
(279, 'with', 1, 2)
(280, 'him', 3, 2)
(281, 'not', 1, 2)
(282, 'sing', 1, 2)
(283, 'as', 3, 2)
(284, 'get', 2, 2)
(285, 'caught', 1, 2)
(286, 'however', 1, 2)
(287, 'got', 1, 2)
(288, 'annoyed', 1, 2)
(289, 'insisted', 1, 2)
(290, 'opened', 1, 2)
(291, 'his', 2, 2)
(292, 'mouth', 1, 2)
(293, 'began', 1, 2)
(294, 'bray', 2, 2)
(295, 'loudly', 1, 2)
(296, 'immediately', 1, 2)
(297, 'ran', 1, 2)
(298, 'away', 1, 2)
(299, 'farmers', 3, 2)
(300, 'hearing', 1, 2)
(301, 'came', 1, 2)
(302, 'rushing', 1, 2)
(303, 'out', 2, 2)
(304, 'thrashed', 1, 2)
(305, 'for', 5, 2)
(306, 'eating', 1, 2)
(307, 'their', 3, 2)
(308, 'tied', 1, 2)
(309, 'mortar', 1, 2)
(310, 'walked', 1, 2)
(311, 'joked', 1, 2)
(312, 'about', 1, 2)
(313, 'gifting', 1, 2)
(314, 'necklace', 1, 2)
(315, 'moral', 2, 2)
(316, 'story', 1, 2)
(317, 'there', 1, 2)
(318, 'is', 1, 2)
(319, 'time', 1, 2)
(320, 'place', 1, 2)
(321, 'everything', 1, 2)
(322, 'you', 1, 2)
(323, 'can', 4, 2)
(324, 'narrate', 1, 2)
(325, 'these', 4, 2)
(326, 'panchatantra', 2, 2)
(327, 'stories', 3, 2)
(328, 'explain', 1, 2)
(329, 'values', 1, 2)
(330, 'children', 2, 2)
(331, 'example', 1, 2)
(332, 'discipline', 1, 2)
(333, 'friendship', 1, 2)
(334, 'strength', 1, 2)
(335, 'intelligence', 1, 2)
(336, 'other', 2, 2)
(337, 'virtues', 1, 2)
(338, 'make', 1, 2)
(339, 'understand', 1, 2)
(340, 'what', 1, 2)
(341, 'morals', 1, 2)
(342, 'stand', 1, 2)
(343, 'impact', 1, 2)
(344, 'daily', 1, 2)
(345, 'lives', 1, 2)
(346, 'also', 1, 2)
(347, 'help', 1, 2)
(348, 'in', 1, 2)
(349, 'your', 3, 2)
(350, 'childs', 2, 2)
(351, 'linguistic', 1, 2)
(352, 'cognitive', 1, 2)
(353, 'development', 1, 2)
(354, 'further', 1, 2)
(355, 'develop', 1, 2)
(356, 'qualities', 1, 2)
(357, 'kids', 1, 2)
(358, 'activity', 1, 2)
(359, 'subscription', 1, 2)
(360, 'kit', 1, 2)
(361, 'contains', 1, 2)
(362, 'fun', 1, 2)
(363, 'interesting', 1, 2)
(364, 'activities', 2, 2)
(365, 'by', 1, 2)
(366, 'trying', 1, 2)
(367, 'child', 1, 2)
(368, 'enhance', 1, 2)
(369, 'hisher', 1, 2)
(370, 'skills', 1, 2)
(371, 'well', 1, 2)
(372, 'a', 4, 3)
(373, 'tale', 1, 3)
(374, 'of', 4, 3)
(375, 'three', 2, 3)
(376, 'fish', 9, 3)
(377, 'in', 2, 3)
(378, 'lake', 3, 3)
(379, 'there', 1, 3)
(380, 'were', 2, 3)
(381, 'who', 1, 3)
(382, 'great', 1, 3)
(383, 'friends', 2, 3)
(384, 'the', 16, 3)
(385, 'first', 3, 3)
(386, 'was', 2, 3)
(387, 'very', 1, 3)
(388, 'smart', 1, 3)
(389, 'second', 3, 3)
(390, 'one', 3, 3)
(391, 'knew', 1, 3)
(392, 'how', 1, 3)
(393, 'to', 6, 3)
(394, 'find', 2, 3)
(395, 'his', 2, 3)
(396, 'way', 2, 3)
(397, 'out', 5, 3)
(398, 'trouble', 1, 3)
(399, 'and', 9, 3)
(400, 'third', 3, 3)
(401, 'adamant', 1, 3)
(402, 'hated', 1, 3)
(403, 'changes', 1, 3)
(404, 'overheard', 1, 3)
(405, 'fishermans', 1, 3)
(406, 'conversation', 1, 3)
(407, 'about', 1, 3)
(408, 'coming', 1, 3)
(409, 'back', 1, 3)
(410, 'next', 2, 3)
(411, 'day', 2, 3)
(412, 'fishing', 1, 3)
(413, 'sensing', 1, 3)
(414, 'danger', 2, 3)
(415, 'he', 1, 3)
(416, 'cautioned', 1, 3)
(417, 'move', 2, 3)
(418, 'said', 2, 3)
(419, 'i', 5, 3)
(420, 'will', 3, 3)
(421, 'stay', 1, 3)
(422, 'here', 2, 3)
(423, 'if', 2, 3)
(424, 'im', 1, 3)
(425, 'caught', 4, 3)
(426, 'do', 1, 3)
(427, 'not', 1, 3)
(428, 'want', 1, 3)
(429, 'remain', 1, 3)
(430, 'have', 1, 3)
(431, 'get', 1, 3)
(432, 'moved', 1, 3)
(433, 'fisherman', 1, 3)
(434, 'arrived', 1, 3)
(435, 'other', 1, 3)
(436, 'two', 1, 3)
(437, 'cleverly', 1, 3)
(438, 'escaped', 1, 3)
(439, 'by', 1, 3)
(440, 'pretending', 1, 3)
(441, 'be', 2, 3)
(442, 'dead', 1, 3)
(443, 'did', 1, 3)
(444, 'nothing', 1, 3)
(445, 'got', 1, 3)
(446, 'died', 1, 3)
(447, 'moral', 1, 3)
(448, 'story', 1, 3)
(449, 'should', 1, 3)
(450, 'always', 1, 3)
(451, 'open', 1, 3)
(452, 'change', 1, 3)
(453, 'adapt', 1, 3)
(454, 'accordingly', 1, 3)
(455, 'take', 1, 3)
(456, 'immediate', 1, 3)
(457, 'action', 1, 3)
(458, 'when', 1, 3)
(459, 'you', 1, 3)
(460, 'sense', 1, 3)
(461, 'the', 27, 4)
(462, 'foolish', 1, 4)
(463, 'lion', 13, 4)
(464, 'and', 8, 4)
(465, 'clever', 1, 4)
(466, 'rabbit', 6, 4)
(467, 'once', 1, 4)
(468, 'upon', 1, 4)
(469, 'a', 4, 4)
(470, 'time', 1, 4)
(471, 'there', 1, 4)
(472, 'lived', 1, 4)
(473, 'greedy', 1, 4)
(474, 'who', 1, 4)
(475, 'attacked', 2, 4)
(476, 'killed', 1, 4)
(477, 'animals', 2, 4)
(478, 'because', 1, 4)
(479, 'of', 4, 4)
(480, 'which', 1, 4)
(481, 'every', 1, 4)
(482, 'animal', 2, 4)
(483, 'in', 2, 4)
(484, 'jungle', 1, 4)
(485, 'was', 4, 4)
(486, 'very', 1, 4)
(487, 'afraid', 1, 4)
(488, 'him', 4, 4)
(489, 'one', 4, 4)
(490, 'day', 2, 4)
(491, 'they', 2, 4)
(492, 'decided', 2, 4)
(493, 'that', 2, 4)
(494, 'each', 1, 4)
(495, 'would', 1, 4)
(496, 'go', 1, 4)
(497, 'to', 9, 4)
(498, 'per', 1, 4)
(499, 'as', 2, 4)
(500, 'his', 4, 4)
(501, 'prey', 1, 4)
(502, 'agreed', 1, 4)
(503, 'when', 1, 4)
(504, 'it', 1, 4)
(505, 'rabbits', 2, 4)
(506, 'turn', 1, 4)
(507, 'send', 1, 4)
(508, 'wise', 3, 4)
(509, 'old', 2, 4)
(510, 'he', 2, 4)
(511, 'travelled', 1, 4)
(512, 'slowly', 1, 4)
(513, 'reached', 1, 4)
(514, 'lions', 1, 4)
(515, 'den', 1, 4)
(516, 'before', 1, 4)
(517, 'sunset', 1, 4)
(518, 'furiously', 1, 4)
(519, 'asked', 2, 4)
(520, 'why', 1, 4)
(521, 'are', 1, 4)
(522, 'you', 2, 4)
(523, 'so', 1, 4)
(524, 'late', 1, 4)
(525, 'answered', 1, 4)
(526, 'group', 1, 4)
(527, 'were', 2, 4)
(528, 'coming', 1, 4)
(529, 'but', 1, 4)
(530, 'on', 2, 4)
(531, 'their', 1, 4)
(532, 'way', 1, 4)
(533, 'others', 1, 4)
(534, 'by', 1, 4)
(535, 'another', 1, 4)
(536, 'ferocious', 1, 4)
(537, 'i', 1, 4)
(538, 'managed', 1, 4)
(539, 'escape', 1, 4)
(540, 'came', 1, 4)
(541, 'here', 1, 4)
(542, 'also', 1, 4)
(543, 'mentioned', 1, 4)
(544, 'other', 2, 4)
(545, 'challenging', 1, 4)
(546, 'this', 2, 4)
(547, 'extremely', 1, 4)
(548, 'angry', 1, 4)
(549, 'take', 1, 4)
(550, 'meet', 1, 4)
(551, 'new', 1, 4)
(552, 'took', 1, 4)
(553, 'deep', 1, 4)
(554, 'well', 2, 4)
(555, 'showed', 1, 4)
(556, 'own', 1, 4)
(557, 'reflection', 3, 4)
(558, 'growled', 1, 4)
(559, 'did', 1, 4)
(560, 'same', 1, 4)
(561, 'considered', 1, 4)
(562, 'be', 1, 4)
(563, 'enemy', 1, 4)
(564, 'enraged', 1, 4)
(565, 'jumped', 1, 4)
(566, 'into', 1, 4)
(567, 'attack', 1, 4)
(568, 'ended', 1, 4)
(569, 'up', 1, 4)
(570, 'dying', 1, 4)
(571, 'thus', 1, 4)
(572, 'saved', 1, 4)
(573, 'himself', 1, 4)
(574, 'all', 1, 4)
(575, 'forest', 1, 4)
(576, 'moral', 1, 4)
(577, 'story', 1, 4)
(578, 'must', 1, 4)
(579, 'always', 1, 4)
(580, 'focus', 1, 4)
(581, 'solutions', 1, 4)
(582, 'rather', 1, 4)
(583, 'than', 1, 4)
(584, 'problems', 1, 4)

In [56]:
story_file = open("story-4.txt",encoding='utf-8')
word_counter = {}
counter = 0

for line in story_file:
    line_list = line.split()
    for word in line_list:
        real_word = word.lower()
        new_word = ''.join(char for char in real_word if char.isalnum())
        if new_word not in word_counter.keys():
            word_counter[new_word] = 1
        else:
            add_value = word_counter.get(new_word)
            add_value += 1
            word_counter[new_word] = add_value
print(word_counter)


story_file.close()

{'the': 27, 'foolish': 1, 'lion': 13, 'and': 8, 'clever': 1, 'rabbit': 6, 'once': 1, 'upon': 1, 'a': 4, 'time': 1, 'there': 1, 'lived': 1, 'greedy': 1, 'who': 1, 'attacked': 2, 'killed': 1, 'animals': 2, 'because': 1, 'of': 4, 'which': 1, 'every': 1, 'animal': 2, 'in': 2, 'jungle': 1, 'was': 4, 'very': 1, 'afraid': 1, 'him': 4, 'one': 4, 'day': 2, 'they': 2, 'decided': 2, 'that': 2, 'each': 1, 'would': 1, 'go': 1, 'to': 9, 'per': 1, 'as': 2, 'his': 4, 'prey': 1, 'agreed': 1, 'when': 1, 'it': 1, 'rabbits': 2, 'turn': 1, 'send': 1, 'wise': 3, 'old': 2, 'he': 2, 'travelled': 1, 'slowly': 1, 'reached': 1, 'lions': 1, 'den': 1, 'before': 1, 'sunset': 1, 'furiously': 1, 'asked': 2, 'why': 1, 'are': 1, 'you': 2, 'so': 1, 'late': 1, 'answered': 1, 'group': 1, 'were': 2, 'coming': 1, 'but': 1, 'on': 2, 'their': 1, 'way': 1, 'others': 1, 'by': 1, 'another': 1, 'ferocious': 1, 'i': 1, 'managed': 1, 'escape': 1, 'came': 1, 'here': 1, 'also': 1, 'mentioned': 1, 'other': 2, 'challenging': 1, 'this': 2, 'extremely': 1, 'angry': 1, 'take': 1, 'meet': 1, 'new': 1, 'took': 1, 'deep': 1, 'well': 2, 'showed': 1, 'own': 1, 'reflection': 3, 'growled': 1, 'did': 1, 'same': 1, 'considered': 1, 'be': 1, 'enemy': 1, 'enraged': 1, 'jumped': 1, 'into': 1, 'attack': 1, 'ended': 1, 'up': 1, 'dying': 1, 'thus': 1, 'saved': 1, 'himself': 1, 'all': 1, 'forest': 1, 'moral': 1, 'story': 1, 'must': 1, 'always': 1, 'focus': 1, 'solutions': 1, 'rather': 1, 'than': 1, 'problems': 1}

In [57]:
count_id = 461
for key in word_counter.keys():
    word_value = word_counter[key]
    cur.execute("""INSERT INTO word_counts(word_count_id,word,count,story_id) VALUES (?,?,?,4);""",(count_id,key,word_value))
    count_id += 1

In [61]:
# Query 1
cur.execute("""SELECT story_id FROM word_counts WHERE count > 1 AND word = "the" """)
stori = cur.fetchall()
for sto in stori:
    print(sto)

(1,)
(2,)
(3,)
(4,)

In [89]:
# Query 2
cur.execute("""SELECT story_id, words, count FROM word_counts JOIN stories USING (story_id) WHERE word = "the" GROUP BY story_id""")
stori = cur.fetchall()
for sto in stori:
    print(sto)

(1, 'The Monkey and the Crocodile:\n\nOnce upon a time, in a forest, there lived a monkey who resided on a jamoon (berry) tree, which was on the banks of a river. In the same forest, there lived a crocodile and his wife. One day, the crocodile came to the banks of the river and rested under the tree. The kindhearted monkey offered him some fruits. The crocodile came back the next day for more fruits, as he loved them. As days passed by, the crocodile and the monkey became good friends.\n\nOne day, the monkey sent some fruits for the crocodile’s wife. She ate the fruits and liked them, but was jealous, as she didn’t like her husband spending time with the monkey. She told her husband, “If the fruits are so juicy, I wonder how sweet the monkey’s heart would be. Get me the heart of the monkey.” The crocodile was not willing to kill his friend, but had no choice.\n\nHe invited the monkey to his house for dinner and that his wife would like to meet him. The monkey was happy, but couldn’t swim, so the crocodile took him on his back. The crocodile was happy that he had tricked the monkey, however, while talking, he blurted out the real reason for taking the monkey home. The clever monkey said, “You should have told me earlier, I left my heart on the tree. We must go back and get it.” The crocodile believed him and took him back to the tree. Thus, the clever monkey saved his life.\n', 34)
(2, 'The Musical Donkey\n\nA washer man’s donkey would be free to graze on the green field, after a hard day’s work. Instead of staying on the field, he would sneak into the villagers’ farms and eat the vegetables growing, before sneaking back home. The donkey met a jackal, and they became good friends. They decided to hunt together, and the fat donkey would break the fence to eat vegetables, while the jackal hunted the farm animals. One night, the donkey told the jackal that he felt like singing. The jackal pleaded with him not to sing, as they would get caught. However, the donkey got annoyed and insisted on singing. He opened his mouth and began to bray loudly, and the jackal immediately ran away. The farmers, on hearing the donkey bray, came rushing out and thrashed him for eating their vegetables. The farmers tied a mortar on the donkey, and as he walked home, the jackal joked about the farmers gifting the donkey a necklace for his singing.\n\nMoral of the Story: There is a time and place for everything.\n\nYou can narrate these Panchatantra stories to explain moral values to children. For example, Panchatantra stories on discipline, friendship, strength, intelligence and other virtues, can make children understand what these morals stand for, and their impact on their daily lives. These stories can also help in your child’s linguistic and cognitive development. To further develop your child’s qualities, get him a kid’s activity subscription kit that contains fun and interesting activities. By trying out these activities, your child can enhance his/her other skills as well.\n', 23)
(3, 'A Tale of Three Fish\n\nIn a lake, there were three fish who were great friends. The first fish was very smart, the second one knew how to find his way out of trouble, and the third was adamant and hated changes. The first fish overheard a fisherman’s conversation about coming back the next day and fishing in the lake. Sensing danger, he cautioned his friends to move out of the lake. The second fish said, “I will stay here and find a way out if I’m caught.” The third fish said, “I do not want to move out. I will remain here, and if I have to get caught, I will.” The first fish moved out. The next day, the fisherman arrived and caught the other two fish. The second one cleverly escaped by pretending to be dead. The third fish did nothing and got caught and died.\n\nMoral of the Story: One should always be open to change and adapt accordingly. Take immediate action when you sense danger.\n', 16)
(4, 'The Foolish Lion and the Clever Rabbit\n\nOnce upon a time, there lived a greedy lion who attacked and killed animals, because of which every animal in the jungle was very afraid of him. One day, they decided that each animal would go to the lion, per day, as his prey. The lion agreed. When it was the rabbit’s turn, they decided to send the wise old one. He travelled slowly and reached the lion’s den before sunset. The lion furiously asked him, “Why are you so late?” The rabbit answered, ”A group of rabbits were coming to you, but on their way, the others were attacked by another ferocious lion. I managed to escape and came here.” The rabbit also mentioned that the other lion was challenging this one.\n\nThe lion was extremely angry and asked the rabbit to take him to meet the new lion. The wise rabbit took the lion to a deep well, and showed him his own reflection. As the lion growled, his reflection did the same. He considered this reflection to be his enemy. The enraged lion jumped into the well to attack the other lion, and ended up dying. Thus, the wise old rabbit saved himself, and all the animals in the forest.\n\nMoral of the Story: One must always focus on solutions, rather than problems.\n', 27)

In [ ]:
###PART 2

In [66]:
soc = sqlite3.connect('database.sqlite')

In [74]:
cursor = soc.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('sqlite_sequence',),
 ('Player_Attributes',),
 ('Player',),
 ('Match',),
 ('League',),
 ('Country',),
 ('Team',),
 ('Team_Attributes',)]

In [69]:
#Query 1
bday_data = pd.read_sql_query("SELECT birthday FROM Player WHERE player_name='Aaron Kuhl'",soc)
bday_data

              birthday
0  1996-01-30 00:00:00

In [80]:
#Query 2
num_data = pd.read_sql_query("SELECT COUNT() FROM Team_Attributes WHERE team_fifa_api_id = 673",soc)
num_data

   COUNT()
0        6

In [96]:
#Query 3 Country.name, League.name, Match.date ON (Match.country_id=Country.id) ON (Match.league_id = League.id)
cl_data = pd.read_sql_query("SELECT Country.name, League.name FROM Match JOIN Country ON (Match.country_id = Country.id) JOIN League ON (Match.league_id = League.id) WHERE Match.date = '2014-04-20 00:00:00' GROUP BY Country.name ",soc)
cl_data

       name                      name
0   England    England Premier League
1    France            France Ligue 1
2   Germany     Germany 1. Bundesliga
3  Portugal  Portugal Liga ZON Sagres
4     Spain           Spain LIGA BBVA